<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Recibo de Pago</title>
</head>
<body>
    <h2>Generar Recibo de Pago</h2>
    <form action="finanzas.php" method="post">
        <label for="clienteID">ID del Cliente:</label><br>
        <input type="text" id="clienteID" name="clienteID" required><br><br>

        <label for="cantidad_pagada">Cantidad Pagada:</label><br>
        <input type="text" id="cantidad_pagada" name="cantidad_pagada" required><br><br>

        <label for="receptor">Nombre del Receptor:</label><br>
        <input type="text" id="receptor" name="receptor" required><br><br>


        <input type="submit" value="Generar Recibo">
    </form>
</body>
</html>