body {
    background-color: #000000;
    color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 1.75rem;
    margin-bottom: 20px;
}


.card-columns {
    column-count: 1;
}

.navbar {
    background-color: #000000;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

.black{
    background-color: #000000;
}