body {
    background-color: #000000;
    color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 1.75rem;
    margin-bottom: 20px;
}


.card-columns {
    column-count: 1;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: #000000;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

.black{
    background-color: #000000;
}